node_modules
controllers\auth\authController.js
# config\config.js
# config\mysql_connection.js
# .env
# server.js
# amiserver.js
# rtp-sniffer.js
# middleware\corsConfig.js
# server.js
# utils\celPoller.js
#services\emailService.js    
# controllers\ticket\ticketController.js
# test-socket-connection.js   

# Lo

# voice
# recorded

.gitignore

# .env
# .env_ttcl
# .envt
# amiServer.js
# config/config.js
# config/mysql_connection.js
# controllers/ticket/ticketControllerOG.js
# documentions/CLAIM_REDIRECT_INTEGRATION.md
# documentions/external-api.md
# mac-login.js
# middleware/corsConfig.js
# services/amiChannelHelper.js
# services/emailService.js
# utils/celPoller.js
recorded
