node_modules
controllers\auth\authController.js
config\config.js
# config\mysql_connection.js
# .env
# server.js
# amiserver.js
rtp-sniffer.js
middleware\corsConfig.js
# server.js
utils\celPoller.js
#services\emailService.js    
# controllers\ticket\ticketController.js
test-socket-connection.js   

# Lo

voice

.gitignore
